*:root {
  --mainWhite: rgb(255, 255, 255);
  --mainGray: rgb(204, 204, 204);
  --secondaryTeal: rgb(79, 221, 209);
  --mainBlack: rgb(12, 12, 12);
  --mainOrange: rgb(228, 118, 15);
}

body {
  display: grid;
  margin: 0;
  background: var(--mainGray);
  height: 100vh;
  width: 100vw;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: 0.75fr minmax(2fr, 680px) 0.75fr;
  grid-template-areas: ".. .. .." ".. box .." ".. .. ..";
}

.counter-box {
  grid-area: box;
  border: none;
  background: var(--mainWhite);
  display: block;
  padding: 10px;
  text-align: center;
}
.box-set {
  margin: 20px auto;
}
.box-name {
  font-weight: 600;
  font-size: 50px;
}
.currentCount {
  font-size: 65px;
}
.btn {
  background-color: var(--secondaryTeal);
  width: 115px;
}
.btn:hover {
  background: var(--mainOrange);
  cursor: pointer;
}
